* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f7cfcf;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #00000099;
    margin-top: 20vh;
    font-size: 6rem;
    font-weight: 30%;
}

p {
    margin-top: 10vh;
    color: rgba(2, 104, 2, 0.938);
    font-size: 4rem;
    font-weight: 10%;
}
